{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5 pt-5">
        <div class="col-md-4">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h3>Form</h3>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-8">
        {% for post in posts %}
        <div class="card shadow mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="img">
                    </div>
                    <div class="col-md-8">
                        <small>{{ post.updated_on }}</small>
                        <hr>
                        <a class="h2" href="">{{ post.name}}</a>
                        <p class="text-justify my-3">
                            {{ post.content }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
     <div class="col-md-8"> 
        <div class="card shadow mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="img">
                    </div>
                    <div class="col-md-8">
                        <small>29th November 2021</small>
                        <hr>
                        <a class="h2" href="">First Blog Post</a>
                        <p class="text-justify my-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laudantium animi fugit
                            obcaecati libero officia perferendis eum tempora ea repellendus quos ipsam blanditiis
                            maiores ex doloremque, esse magnam! At, reiciendis?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}